// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button {
  height: 100%;
  padding: 0.5em;
  margin: 1em auto;
  background-color: $lime-green;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}
button:hover {
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
}
